body {
  font-family: 'Underdog', cursive;
  background-color: lightgray;
}

main {
  text-align: center;
}

.search-form {
  padding: 10px;
}

@media (min-width: 275px) {
 
input {
  max-width: 80px;
}

  #map {
    margin: auto;
    width: 320px;
    height: 275px;
    border-radius: 5px;
  
  }

}

@media (min-width: 768px) {
 
  #map {

    width: 768px;
    height: 480px;
    border-radius: 5px;
  
  }

}

@media (min-width: 992px) {
 
  #map {

    width: 992px;
    height: 480px;
    border-radius: 5px;
    margin-left: 15%;
  
  }

}
