body {
  font-family: 'Underdog', cursive;
}

#map {

  width: 400px;
  height: 400px;
  margin-left: 25%;


}

.search-form {
  background-color: white;
  border-radius: 50%;
}

#results {
display: flex;
flex-wrap: wrap;

}


a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}
a:hover,
a:focus {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}

@media (min-width: 48em) {
 
}
